{
    "NODE": "pve",
    "unique_id": "proxmox_node_pve",
    "default_entity_id": "proxmox_node_pve",
    "node_name": "PVE",
    "TOKEN": "api@pve!zxcvbnmasdfghjklqwertyuiop",
    "SECRET": "31a9f4c8-6f50-448b-95f9-e740f75aaef4",
    "ADDRESS": "https://pve.local:8006/",
    "BROKER": "mqtt.local",
    "PORT": 1883,
    "CLIENTID": "pve",
    "VMS": [
        101,
        102,
        310,
        210,
        900,
        130
    ]
}
